h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.item {
    width: 200px;
    background-color: #3d007a;
    color: black;
    display: block;
    padding: 12px;
    text-align: center;
    border-radius: 25px;
}

.item a {
    border-radius: 25px;
    background-color: #eeefff;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
}

ul{
    margin: auto;
}
